[project]
name = "hello-world"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "xarp",
]

[tool.uv.sources]
xarp = { git = "https://github.com/HAL-UCSB/xarp.git" }
